# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lai
*.lo
*.Po
*.Plo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

m4

Makefile.in
Makefile
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
config.h
config.log
config.status
libtool
stamp-h1

src/Makefile
src/Makefile.in
src/.deps
src/.dirstamp

test/*.log
test/test_runner
test/test_runner.trs
test/Makefile.in
test/Makefile





cov-int
librepsheet.tar.gz
