# Object files
*.o
*.ko
*.obj
*.elf

# Coverage files
*.gcda
*.gcno
*.info
test_coverage

# Libraries
*.lib
*.a
*.la
*.lai
*.lo
*.Po
*.Plo
*.pc

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Autotools stuff
m4
autom4te.cache
Makefile.in
Makefile
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
config.h
config.log
config.status
libtool
stamp-h1
dump.rdb

src/Makefile
src/Makefile.in
src/.deps
src/.dirstamp

test/*.log
test/test_runner
test/test_runner.trs
test/Makefile.in
test/Makefile

# Coverity
cov-int
librepsheet.tar.gz

# Doxygen
docs

# Debian
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/tmp
debian/librepsheet
debian/librepsheet-dev

test
test.c
config.h.in~
