language: ruby
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq build-essential libcurl4-openssl-dev libhredis-dev
script: sh ci.sh
rvm:
  2.5.1
services:
  - redis-server
branches:
  only:
    - master
